* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 2vw;
    padding: 10vw;
    background-color: #fdca00;
    color: blanchedalmond;
}
input[type=text],[type=number], select, textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}
input[type=submit]:hover {background-color: #45a049;}

#side-img img {
  height: 30vw;
  width: 30vw;
}
#side-img{
  grid-row-start: 1;
  grid-row-end: 3;
}
.container {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #403f3a;
  padding: 1em;
  margin: 1em;
  height: 78rem;
  width: 40rem;
}
label {
  text-align: left;
}
@media screen and (max-width: 700px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    margin-right: -100vw;
    margin-left: -13vw;
    width: 23rem;
    height: 75rem;
  } 
}
