body {

}
#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#fdca00;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    margin: 10em;
    list-style: none;
    
}
.nav-link {
    margin: 1em;
    color: azure;
    letter-spacing:4px;
    font-size: 20px;
}
#header-img {
    margin-left: 15rem;
    color:  azure;
}
.page {
    background-color: aquamarine;
    padding: 6rem 0;    
}
.image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-image: url(m.jpg);
}
@media screen and (max-width: 600px) {
    
}

