body {
    background-color: #312e2b;
    color: aliceblue;
    position: fixed;
  }
#main {
	display: inline;
}

#screen { 
	width: 490px;
	height: 25px;
	margin-top: 0px;
	margin-left: 100px;
	margin-right: 0px;
	border: 2px solid black;
}
#screen h2 {
	margin-left: 50px;
	margin-top: 5px;
	font-size: 14px;
}

#board {
	margin-top: 90px;
	margin-left: 100px;
	margin-right: 0px;
	height: 500px;
	width: 500px;
}

.cell {
	float: left;
	height: 46.875px;
	width: 46.875px;
	padding: 5px;
}

.controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 40px;
}
#bench {
	position: relative;
	left: 700px;
	bottom: 500px;
}

#bench h2 {
	font-size: 18px;
}
#bt{
	background-color: #7fa650;
	color: aliceblue;
}
#bt1{
	background-color: #413e3c;
	color: aliceblue;
}
img {
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 85%;
    height: 45px;
    width: 45px;
}

.selected img {
	height: 46.875px;
	width: 46.875px;
	margin-top: 0px;
}

button {
	margin-left: 30px;
	font-size: 20px;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 5px 5px;
	border-radius: 5px;
}
#times {
	text-align: center;
	font-size: 25px;
	border-radius: 5px;
}

#bench > div {
	display: block;
	width: 460px;
	height: 80px;
}

.bench {
	float: left;
	height: 15px;
	width: 20px;
	margin-left: 100px;
	margin: .5px;
    padding: 1px;
}
.bench img {
    width: 20px;
    height: 20px;
}

.row {
	float: left;
	clear: both;
}
#white {
    float: right;
    position: fixed;
    left: 110px;
    top: 40px;
    color: white;
}
#white1 {
	position: fixed;
    left: 450px;
	bottom: 110px;
	color: black;
	float: right;
}
#black {  
    position: fixed;
    left: 110px;
    bottom: 110px;
    color: white;
}
#black1 {
	position: fixed;
    left: 450px;
    top: 60px;
    color: black;
}
#startInstructions button{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	background-color: #e6912c;
	color: aliceblue;
}
@media(max-width:700px){
    body{
        box-sizing: border-box;
        margin-left: -100px;
        height: 100px;
    }
    #white {
        margin-left: -110px;
        bottom: 100px;
    }
    #black {
        margin-left: -110px;
        bottom: 190px;
	}
	#white1 {
        margin-left: -200px;
        bottom: 220px;
    }
    #black1 {
        margin-left: -200px;
    }
    .cell {
        float: left;
        height: 41px;
        width: 41px;

	}
	.controls {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 100%;
		margin-top: -3rem;
	}
	#times {
		margin-left: 300px;
		background-color: #312e2b94;
		font-size: 15px;
		padding: 10px;
		border-radius: 50px;
		width: 100%;
		margin-top: -50px;
		margin-bottom: 10px;
		color: aliceblue;
		float: left;
	}

}
